<!DOCTYPE html>
<html>
    <head>
        <title>Analitical Forecasting System</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="wrap" class="wrap">
        <div class="inner-wrap">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="top-bar">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">
                                <img alt="BlackDream" src="/assets/logo.png">
                            </a>
                        </div>
                        <div class="container collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">                
                                <% if user_signed_in? %>   
                                  <% if current_user.is_admin || current_user.is_moderator %>
                                    <li><%= link_to 'Users', users_path %></li>
                                  <% else %>                                 
                                  <% end %>
                                  <li><%= link_to 'My Profile', current_user %></li>
                                  <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
                                <% else %>
                                  <li><%= link_to "Log In", new_user_session_path %></li>
                                  <li><%= link_to "Sign Up", new_user_registration_path %></li>
                                <% end %>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>   
        </div>
        <% if @show_errors && current_user.errors.any? %>
          <div id="error_explanation">
              <% current_user.errors.full_messages.each do |msg| %>
                <%= msg %><br>
              <% end %>
          </div>
        <% end %>
        <div class="content">
        <%= yield %>
        </div>
    </div>
            <footer class="footer">
                <div class="zurb-footer-bottom">
                    <p class="left">&copy; BlackDream 2015</p>

                    <div class="right button-bar">
                        <p>
                            Analitical Foresacting Systems for BlackDream 
                        </p>
                    </div>    
                    <ul class="zurb-links">
                        <li>Sergy Nazarevich</li>
                        <li><%= bootstrap_icon_link_to "aqueelone@gmail.com", "mailto:aqueelone@gmail.com", "icon-envelope" %></li>
                        <li><i class="icon-info-sign"></i> +382 067 163 8809</li>
                    </ul>            
                </div>
            </footer>

        <%= javascript_include_tag "application" %>
        <%= tinymce_assets %> <%= tinymce %>

    </body>
</html>
